@model IEnumerable<MVCCoreNet.Models.Categorie>

@{
    ViewData["Title"] = "Liste des catégories - Environnements et librairies";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategorie"  class="btn btn-primary btn-xs">Editer</a>
                <a asp-action="Delete" asp-route-id="@item.IdCategorie" class="btn btn-danger btn-xs">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
